<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <!--ここにエラー表示-->
      <div id="error-explanetion">
        <div class="text-danger">
          <% if @user.errors.any? && @user.errors.count == 1 %>
            <h3>1 error prohibited this obj from being saved:</h3>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% elsif @user.errors.any? && @user.errors.count != 1 %>
            <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <%= form_with model:@user do |f| %>
        <div class="field mb-3">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
        <div class="field mb-3">
          <%= f.label :profile_image, "Image" %>
          <%= f.file_field :profile_image, accept: "image/*", class: "form-control-file" %>
        </div>
        <div class="field mb-3">
          <%= f.label :introduction, "Introduction" %>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class="actions mb-3">
          <%= f.submit 'Update User', class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
