<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <!--ユーザ情報-->
      <%= render 'users/info', user: @user %>
      <!--新規投稿の部分-->
      <%= render 'users/list', book_new: @book_new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>
              <!--ユーザ詳細へのリンク-->
              <%= link_to user_path(@user) do %>
                <%= image_tag @user.get_profile_image(40,40) %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <!--本詳細へのリンク-->
              <%= link_to book_path(@book) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <% if @user == current_user %>
              <!--編集へのリンク/ログインユーザのみ-->
              <td>
                <%= link_to edit_book_path(@book.id) do %>
                  <button class="btn btn-sm btn-success">Edit</button>
                <% end %>
              </td>
              <!--削除へのリンク/ログインユーザのみ-->
              <td>
                <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" do %>
                  <button class="btn btn-sm btn-danger">Destroy</button>
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



