<!--ここにエラー表示-->
<%= render 'message', book: @book %>

<!--ユーザ情報-->
<!--新規投稿の部分-->
<%= render 'users/list', book_new: @book_new %>


<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td>
        <!--ユーザ詳細への-->
        <%= link_to user_path(@user) do %>
          <%= image_tag @user.get_profile_image(40,40) %><br>
          <%= @user.name %>
        <% end %>
      </td>
      <td>
        <!--本詳細へのリンク-->
        <%= link_to book_path(@book) do %>
          <%= @book.title %>
        <% end %>
      </td>
      <td><%= @book.body %></td>
      <% if @user == current_user %>
        <!--編集へのリンク/ログインユーザのみ-->
        <td><%= link_to 'Edit', edit_book_path(@book.id) %></td>
        <!--削除へのリンク/ログインユーザのみ-->
        <td><%= link_to 'Destroy', book_path(@book.id), method: :delete %></td>
      <% end %>
    </tr>
  </tbody>
</table>